@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans Regular", sans-serif;
}

header .header-top {
  background: #3b3b3b;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 30px;
}
header .header-top .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-top .subscribe img {
  margin-right: 10px;
}
header .header-top .subscribe a {
  color: #efefef;
  font-size: 13px;
  text-decoration: underline;
}
header .header-top .menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-top .menu-top .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}
header .header-top .menu-top .menu li {
  margin-right: 46px;
}
header .header-top .menu-top .menu li a {
  color: #efefef;
  font-size: 13px;
  font-family: "Open Sans SemiBold", sans-serif;
  text-transform: uppercase;
}
header .header-top .menu-top .menu-top__item {
  border-left: 1px solid #4d4d4f;
  padding: 12px 15px;
}
header .header-top .menu-top .menu-top__item a {
  color: #efefef;
  font-size: 13px;
  position: relative;
}
header .header-top .menu-top .menu-top__item a svg {
  stroke: #efefef;
}
header .header-top .menu-top .menu-top__item a .fa-user {
  font-size: 20px;
  color: #efefef;
  font-size: 13px;
}
header .header-top .menu-top .menu-top__item .bag::after {
  content: "2";
  width: 20px;
  height: 20px;
  background: #FF2973;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  top: -8px;
  padding-left: 5px;
}
header .header-middle {
  padding: 0 30px;
}
header .header-middle .header-middle__top .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-middle .header-middle__top .header-left .header-logo {
  padding-top: 10px;
  padding-right: 16px;
}
header .header-middle .header-middle__top .header-left .header-search form {
  position: relative;
}
header .header-middle .header-middle__top .header-left .header-search form input {
  border: 1px solid #E5E5E5;
  height: 33px;
  width: 287px;
  margin-top: 5px;
  border-radius: 3px 0 0 3px;
  border-right: none;
  font-size: 14px;
  padding: 0 15px;
  background: #F8F8F8;
  outline: none;
}
header .header-middle .header-middle__top .header-left .header-search form input::-webkit-input-placeholder {
  color: #9f9f9f;
}
header .header-middle .header-middle__top .header-left .header-search form input::-moz-placeholder {
  color: #9f9f9f;
}
header .header-middle .header-middle__top .header-left .header-search form input:-ms-input-placeholder {
  color: #9f9f9f;
}
header .header-middle .header-middle__top .header-left .header-search form input::-ms-input-placeholder {
  color: #9f9f9f;
}
header .header-middle .header-middle__top .header-left .header-search form input::placeholder {
  color: #9f9f9f;
}
header .header-middle .header-middle__top .header-left .header-search form button {
  padding-left: 10px;
  position: absolute;
  padding-right: 10px;
  bottom: 0;
  height: 33px;
  border: 1px solid #E5E5E5;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background: #F8F8F8;
}
header .header-middle .header-middle__top .header-left .header-search form button i {
  color: #BEBEBE;
}
header .header-middle .header-middle__top .header-right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-middle .header-middle__top .header-right .social-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-middle .header-middle__top .header-right .social-icons li {
  position: relative;
  margin-left: 45px;
}
header .header-middle .header-middle__top .header-right .social-icons li a {
  color: #000;
}
header .header-middle .header-middle__top .header-right .social-icons .telegram::before, header .header-middle .header-middle__top .header-right .social-icons .whatsapp::before, header .header-middle .header-middle__top .header-right .social-icons .viber::before {
  position: absolute;
  width: 22px;
  left: 3px;
  left: -27px;
}
header .header-middle .header-middle__top .header-right .social-icons .telegram:before {
  content: url(../img/telegram.svg);
}
header .header-middle .header-middle__top .header-right .social-icons .whatsapp::before {
  content: url(../img/whatsapp.svg);
}
header .header-middle .header-middle__top .header-right .social-icons .viber::before {
  content: url(../img/viber.svg);
}
header .header-middle .header-middle__top .header-right .phone {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  margin-left: 20px;
}
header .header-middle .header-middle__top .header-right .phone a {
  font-size: 24px;
  font-family: "Open Sans SemiBold", sans-serif;
  color: #000;
}
header .header-middle .header-middle__top .header-right .phone .callMe {
  font-size: 15px;
  color: #FB778E;
  text-decoration: underline;
}
header .header-middle .header-middle__bottom .menu-bottom ul {
  padding-left: 0;
  margin-bottom: 8px !important;
  margin-top: 8px;
}
header .header-middle .header-middle__bottom .menu-bottom ul li {
  margin-left: 25px;
  margin-right: 25px;
}
header .header-middle .header-middle__bottom .menu-bottom ul li a {
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans SemiBold";
}
header .header-bottom .header-sliders .owl-dots {
  position: relative;
  bottom: 65px;
}
header .header-bottom .header-sliders .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background: none;
  border: 2px solid white;
  border-radius: unset;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .header-bottom .header-sliders .owl-dots .active span {
  background: white;
  width: 14px;
  height: 14px;
  top: 1px;
  position: relative;
}

section .section-title {
  text-align: center;
  font-family: "Yanone Kaffeesatz", ExtraLight;
  text-transform: uppercase;
  margin-bottom: 35px;
}
section .products .product {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  padding: 20px;
}
section .products .product .product-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 280px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 40px;
}
section .products .product .product-image .sale {
  position: absolute;
  left: 0;
  top: 0;
}
section .products .product .product-image svg {
  position: absolute;
}
section .products .product .product-image .zoom {
  position: absolute;
}
section .products .product .brand {
  font-family: "Open Sans Regular";
  font-size: 14px;
  color: #929292;
  text-transform: uppercase;
}
section .products .product .title {
  font-size: 14px;
  margin-top: 7px;
}
section .products .product .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .products .product .price .price-old {
  font-family: "Open Sans SemiBold";
  font-size: 16px;
  color: #252525;
}
section .products .product .price .price-old .fas {
  font-size: 15px;
  margin-right: 3px;
}
section .products .product .price .price-new {
  font-family: "Open Sans SemiBold";
  font-size: 19px;
  color: #ff1919;
}
section .products .product .price .price-new .fas {
  font-size: 16px;
  margin-right: 4px;
}
section .products .product .price .cart {
  font-size: 14px;
  font-family: "Open Sans SemiBold";
  background: #e22d71;
  color: white;
  padding: 10px;
}
section .products .product .price .cart svg {
  margin-right: 10px;
}
section .products .product .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
section .products .product .images .image {
  border: 1px solid #e4e4e4;
  width: 30%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
section .products .product .images .image img {
  max-width: 100%;
}